@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lato:wght@700&family=Playfair+Display:wght@500&display=swap');

:root {
  --gray-50: #656266;
  --gray-100: #B5B5B5;
  --gray-200: #303030;
  --gray-300: #1A1A1A;
  --stroke-s50: #DBDBDB;
  --stroke-s100: #E1E1E1;
  --stroke-s200: #616161;
  --font-light: #E3E3E3;
  --font-dark: #323232;
  --hover: #F1F1F1;
  --hover-btn: #E7E7E7;
  --focused: #005BD3;
  --accent: #36FBA1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}

html {
  font-size: 100%;
  font-family: 'Inter', sans-serif;
  transition: all 1s linear;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.btn {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
} 

.container {
  max-width: 100%;
  height: 100vh;
  background: var(--hover);
}

@media screen and (min-width: 425px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 767px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.text-12 {
  font-size: 12px;
  font-style: normal;
  line-height: 130%;
}

.text-13 {
  font-size: 13px;
  font-style: normal;
  line-height: 140%; 
}

.text-14 {
  font-size: 14px;
  font-style: normal;
  line-height: 140%;
}


/* HEADER STYLES */
.header {
  background: var(--gray-300);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  padding: 12px 16px;
  position: relative;
}

/* logo */
.header__logo {
  cursor: pointer;
}

.header__logo--desktop {
  display: none;
}

@media screen and (min-width: 767px) {
  .header__logo--desktop {
    display: initial;
  }

  .header__logo--mobile {
    display: none;
  }
}

/* form search */
.header__form {
  display: flex;
  height: 32px;
  padding: 8px;
  align-items: center;
  gap: 6px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--stroke-s200);
  background: var(--gray-200);
  max-width: 480px;
}

.header__form:hover {
  border: 1px solid var(--stroke-s100);
}

.header__form.focus {
  border: 2px solid #FFF;
}

.header__form--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__form--search {
  width: 100%;
  border: none;
  background-color: inherit;
  outline: none;
  color: var(--gray-100);
  cursor: pointer;
}

/* navigation */
.header__navbar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__navbar--btn {
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__navbar--btn:hover {
  background: var(--stroke-s200);
}

.header__navbar--btn.active {
  background: var(--gray-50);
}

@media screen and (min-width: 1024px) {
  .header__navbar--btn:focus {
    background: var(--gray-50);
    box-shadow: 0px 0px 0px 3px var(--focused), 0px 0px 0px 1px #000;
  }
}

/* notification dropdown */
.header__navbar--notification_dropdown,
.header__navbar--mystore_dropdown {
  width: 91%;
  max-width: 385px;
  display: none;
  position: absolute;
  top: 78px;
  right: 16px;
  padding: 16px;
  border-radius: 14px;
  border: 1px solid var(--stroke-s50);
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  z-index: 20;
}

.header__navbar--notification_dropdown.active,
.header__navbar--mystore_dropdown.active {
  display: initial;
}

.header__navbar--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: inherit;
  margin-bottom: 1rem;
}

.header__navbar--heading {
  color: var(--gray-200);
  font-weight: 600;
}

.header__navbar--btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header__navbar--btn_notice {
  border: 1px solid #fff;
}

.header__navbar--btn_notice:hover {
  background: var(--hover);
}

.header__navbar--content {
  background: var(--hover);
  padding: 16px;
}

.header__navbar--text {
  font-weight: 600;
  color: var(--gray-200);
  text-align: center;
}

@media screen and (min-width: 767px) {
  .header__navbar--btn_notice:focus {
    background: #F0F0F0;
    border: 2px solid var(--focused);
  }  

  .header__navbar--dropdown {
    top: 64px;
  }
}


/* myStore btn styles */
.header__navbar--btn_active {
  padding: 2px 2px 2px 8px;
  font-weight: 500;
  color: var(--font-light);
}

.header__navbar--badge {
  display: flex;
  height: 28px;
  padding: 9px 5px 10px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--accent);
  color: rgba(0, 0, 0, 0.40);
  text-align: center;
}

.header__navbar--username {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header__navbar--username {
    display: initial;
    color: var(--font-light);
  }
}

/* myStore dropdown styles */
.header__navbar--mystore_dropdown-active {
  width: 82.035%;
  max-width: 320px;
  padding: 0px;
}

.header__mystore--heading {
  display: grid;
  gap: 4px;
  padding: 6px 6px 4px;
}

.header__mystore--account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px 4px 8px;
  border-radius: 8px;
  background: var(--hover);
}

.header__navbar--user_name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--gray-200);
  font-weight: 600;
}

.header__navbar--badge_menu {
  font-size: 10.5px;
  font-weight: 500;
  line-height: 140%;
  padding: 9.625px 5.875px 10.375px 6.125px;
  border-radius: 5.25px;
  text-align: center;
}

.header__navbar--menu  {
  display: grid;
  gap: 4px;
  padding: 4px 6px 6px;
}

.header__navbar--menu_border {
  padding-bottom: 4px 6px;
  border-top: 0.75px solid var(--stroke-s100);
  border-bottom: 0.75px solid var(--stroke-s100);
}

.header__navbar--link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
  border-radius: 8px;
  font-weight: 400;
  color: var(--gray-200);
}

.header__navbar--link:hover {
  background: var(--hover);
}

.header__navbar--link:focus,
.header__mystore--account:focus {
  border: 2px solid var(--focused);
}

.header__navbar--link:active,
.header__mystore--account:active {
  background: #F0F0F0;
}

.header__navbar--link_info {
  display: block;
  padding: 8px;
}

.header__navbar--user {
  display: block;
  color: var(--gray-200);
  font-weight: 500;
}

.header__navbar--email {
  color: var(--stroke-s200);
}

/* main section styles */
.small_container {
  width: 100%;
  max-width: 800px;
  margin: 32px auto;
  display: grid;
  gap: 16px;
}

.trial__banner {
  display: flex;
  justify-content: space-between;
  padding: 12px 8px 12px 16px;
  align-items: flex-start;
  align-self: stretch;
  background: var(--gray-300);
}

.trail__banner--content {
  display: grid;
  gap: 16px;
}

.trial__banner--heading {
  color: var(--font-light);
  font-weight: 500;
}

.trail__banner--btn {
  width: 99px;
  padding: 6px 11px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background:  #FFF;
  box-shadow: 0px -1px 0px 0px var(--gray-100) inset;
  color: var(--font-dark);
  font-weight: 600;
}

.trail__banner--btn:hover {
  background: #F7F7F7;
}

.trail__banner--btn:active {
  background: #F7F7F7;
  box-shadow: 0px 2px 1.5px 0px #E2E2E2 inset;
}

.trail__banner--btn:focus {
  box-shadow: 0px 0px 0px 3px var(--focused), 0px 0px 0px 1px #FFF, 0px -1px 0px 0px var(--gray-100) inset;
}

.trial__banner-dismiss {
  padding: 8px;
  background: inherit;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.trial__banner-dismiss:hover {
  background: var(--stroke-s200);
}

@media screen and (min-width: 767px) {
  .trial__banner {
    gap: 8px;
    padding: 12px 8px 12px 16px;
    justify-content: space-between;
    align-items: center;
  }

  .trail__banner--content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .trial__banner-dismiss {
    padding: 6px;
    border-radius: 6px;
  }

  .trial__banner-dismiss:focus {
    background: var(--gray-50);
    box-shadow: 0px 0px 0px 3px var(--focused), 0px 0px 0px 1px #000;
  }
}

@media screen and (min-width: 800px) {
  .trial__banner {
    border-radius: 8px;
  }
}

/* onboarding guide styles  */
.accordion {
  display: grid;
  gap: 16px;
  padding: 8px;
  border: 1px solid var(--stroke-s50);
  background: #FFF;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.accordion__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  padding: 8px;
}

.accordion__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

.accordion__description--headline{
  color: var(--gray-200);
  font-weight: 600;
  margin-bottom: 4px;
}

.accordion__description--text {
  color: var(--gray-200);
  font-weight: 400;
}

.accordion__progress {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.accordion__progress_text {
  width: 90px;
  color: var(--gray-200);
  font-weight: 400;
}

.accordion__progress--meter {
  width: 5.625rem;
  border-radius: 0.5rem;
  height: 0.625rem;
}

.accordion__progress--meter::-webkit-meter-bar {
  background-color: var(--font-light);
  border: none;
}

.accordion__progress--meter::-webkit-meter-optimum-value {
  background-color: var(--gray-300);
  transition: all 400ms ease;
}

.accordion__up_btn,
.accordion__down_btn {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background: inherit;
  width: 28px;
  height: 28px;
}

.accordion__up_btn:hover,
.accordion__down_btn:hover {
  background: var(--hover-btn);
}

.accordion__up_btn {
  display: none;
}

@media screen and (min-width: 800px) {
  .accordion {
    border-radius: 18px;
  }

  .accordion__up_btn:focus,
  .accordion__down_btn:focus {
    box-shadow: 0px 0px 0px 3px var(--focused), 0px 0px 0px 1px #000;
  }
}


/* Steps dropdown styles*/
.steps {
  display: none;
  gap: 2px;
}

.steps__list {
  position: relative;
}

.steps__content {
  background: transparent;
  padding: 8px 8px 12px;
  border-radius: 10px;
}

.steps__content[open] {
  background-color: #F3F3F3;
}

.steps__content summary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 12px;
  list-style-type: none;
}

.steps__content summary::marker,
.steps__content summary::-webkit-details-marker {
  display: none;
}

.sr-only {
  position: absolute;
  left: -1200px;
}

.steps__content label {
  cursor: pointer;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  z-index: 20;
}

.steps__content--check {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
}

.steps__content label svg.default{
  opacity: 1;
}
.steps__content label:hover svg.hover{
  opacity: 1;
}
.steps__content label:hover svg.default{
  opacity: 0;
}
.steps__content label:active svg.focus {
  opacity: 1;
}

.steps__content summary:focus svg.focus {
  opacity: 1;
}


[data-completed=true] svg.loader{
  transition-property: transform, opacity;
  transition-duration: 400ms;
  transition-timing-function: linear;
  transform: rotate(360deg);
  opacity: 1;
  animation: fadeInOut 450ms linear 1 forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


[data-completed=true] svg.checked {
  transition-property: opacity;
  transition-delay: 500ms;
  transition-timing-function: linear;
  opacity: 1;
}

[data-completed=true] svg.default{
  opacity: 0 !important;
}


[data-completed=true]:hover svg.hover{
  opacity: 0 !important;
}

.steps__detail--heading {
  color: var(--gray-200);
  font-weight: 500;
}

.steps__content[open] .steps__detail--heading {
  font-weight: 600;
}

.steps__detail--content {
  margin-left: 2rem;
}

.steps__detail--text {
  margin-bottom: 1rem;
  color: var(--stroke-s200);
}

.steps__detail--link {
  font-weight: 500;
  color: var(--focused);
}

.steps__detail--button {
  border-radius: 6px;
  border-top: 1.5px solid rgba(255, 255, 255, 0.20);
  border-right: 1.5px solid rgba(255, 255, 255, 0.20);
  border-left: 1.5px solid rgba(255, 255, 255, 0.20);
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
  padding: 6px 12px;
  color: #F6F3F6;
  font-weight: 600;
  cursor: pointer;
}

.steps__detail--button:hover {
  background: #2A2A2A;
}

.steps__detail--button:active {
  background: #2B2B2B;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

.steps__detail--button:focus {
  background: #404040;
  box-shadow: 0px 0px 0px 5px var(--focused), 0px 0px 0px 3px #FFF, 0px 0px 0px 1.5px #333;
}

.steps__detail--upload {
  padding: 6px 12px;
  margin-left: 1rem;
  border: none;
  border-radius: 6px;
  background: inherit;
  color: var(--font-dark);
  font-weight: 600;
  cursor: pointer;
}

.steps__detail--upload:hover {
  background: var(--stroke-s200);
}

.steps__detail--upload:active {
  background: #E0E0E0;
}

.steps__detail--upload:focus {
  border: 2px solid  var(--focused);
  background: #FFF;
}

.steps__detail--img {
  display: none;
}

@media screen and (min-width: 767px) {
  .steps__detail--content {
    width: 484px;
  }
  

  .steps__detail--img {
    display: block;
    position: absolute;
    width: 156.145px;
    height: 120px;
    top: 8px;
    right: 8px;
  }
}